h1 {
  text-align: center;
}

p {
  padding: 1%;
}

.container {
  padding: 3% 0% 7%;
  margin-bottom: 2%;
}

.graphic {
  width: 100%;
}

.title_img {
  width: 25%;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 300px;
  /* border: 1px solid #0a0a0a; */
  perspective: 1000px;
  margin: 2% 0%;
}

.flip-card-inner {
  position: relative;
  width: 75%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: justify;
  /* text-align: center; */
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card-img {
  width: 20%;
  padding: 10%;
}

.card-bottom {
  background-color: aqua;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 18.5%;
}

.card-back-info {
  padding: 10%;
}
