h1 {
  text-align: center;
}

p {
  padding: 1%;
}

.container {
  padding: 3% 0% 7%;
  margin-bottom: 2%;
}

.graphic {
  width: 100%;
}

.title_img {
  width: 10%;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 300px;
  /* border: 1px solid #0a0a0a; */
  perspective: 1000px;
  margin: 2% 0%;
}

.flip-card-inner {
  position: relative;
  width: 75%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: justify;
  /* text-align: center; */
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card-img {
  width: 20%;
  padding: 10%;
}

.card-bottom {
  background-color: aqua;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 18.5%;
}

.card-back-info {
  padding: 10%;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(
260deg
, #1380ca 0%, #9cc2dc 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}




body {
  background-image: url(https://source.unsplash.com/random);
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 84px;
}

.cols {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
  margin-left: -5px;
  margin-bottom: -5px;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  color: #fff;
  font-size: 1rem;
}

.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  color: #fff;
  font-size: 1rem;
  background: #fff;
  background: linear-gradient(45deg, #00BCD4 0%, #2196F3 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  backface-visibility: hidden;
}

.container:hover {
  .front, .back {
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container {
  .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  .front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  &:hover {
    .back {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }
    .front {
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }
  }
}

.front .inner {
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    position: relative;
    &:after {
      content: '';
      width: 4rem;
      height: 2px;
      position: absolute;
      background: #fff;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -.75rem;
    }
  }
  span {
    color: fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
